*pkl
*pth
*zip
*ply
*png
*mp4
*html
*.log
*.svg
*.pdf
*.pt
**/*.log
depth_images/
tmp/
wandb/
Vehicle/
tmp_3d/
tmp/
test/
__pycache__/
.ipynb_checkpoints
sumo_sim/
cobev/data_cobev/
tfco_datasets/
trained_emulation_models/
emulation_datasets/
data/
profile.prof
lecture/
