/tmp_carla
/tmp
/monocon
/monocon_cosimulation
/emulation_dataset_train
/data
/content
/emulation_dataset
Co-sim/kitti_recording/
Co-sim/recordings/
Co-sim/tmp_recording/
Carla-utils/data/
Carla-utils/data_old
Carla-utils/eternal/kitti_carla_simulator/
dashboard_frames/
Co_Simulation/recordings
Co_Simulation/kitti_recording
kitti_datasets/
emulation_datasets/*/
/measurements
inference_results/
inference_kitti/
kitti_datasets/*
d3_detection_trainings/*
pre_trained/


# monocon exclusions
D3-Detection/algorithms/monocon-pytorch/checkpoints
D3-Detection/algorithms/monocon-pytorch/carla_train
D3-Detection/algorithms/monocon-pytorch/results_kitti
D3-Detection/algorithms/monocon-pytorch/cosimulation
D3-Detection/algorithms/monocon-pytorch/trained_models
D3-Detection/algorithms/monocon-pytorch/resources
D3-Detection/algorithms/monocon-pytorch/test_results
D3-Detection/algorithms/monocon-pytorch/results
D3-Detection/algorithms/monocon-pytorch/tf_logs
tf_logs/
checkpoints/

# visualizations
visualization_images/

# datasets
tmp_kitti/



# Ignore VS code settings
**/.vscode/
*.png
*.pyc
*.png
*.mp4
*.log
*.bin
*.xml
*.bin
*.pcd
wandb/

